Click
eth-utils
structlog
web3
sqlalchemy
contract-deploy-tools
attrs

# --- development dependencies, i.e. dependencies not needed for running
pytest
eth-tester
py-evm
flake8
mypy
tox
black
pre-commit
